*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    color: white;
}
.hero{
    width: 100vw;
    height: 100vh;
    background: rgb(63,94,251);
    background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(139,25,49,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.hero h1{
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight:560;
    text-wrap: wrap;
}
.hero h1 span{
    color: rgb(253, 0, 55);
    font-weight: 500;
}

textarea{
    border: none;
    border-radius: 10px;
    min-width: 70vw;
    min-height: 20vh;
    margin: 20px;
    max-width: 90vw;
    max-height: 50vh;
    outline: none;
    padding: 10px;
    font-size: 15px;
    background: rgb(130,139,193);
background: linear-gradient(147deg, rgba(130,139,193,1) 3%, rgba(110,127,214,1) 37%, rgba(193,78,139,1) 100%);
    
}
textarea::placeholder{
    color: #fff;
}
.row{
    display: flex;
    width: 70%;
    padding: 20px;
    justify-content: space-between;
    gap: 10px;
   }
.row select{
    width: 50vw;
    border-radius: 35px;
    height: 30px;
    background-color:rgb(66, 89, 138);
    border: none;
    max-width: 500px;
    padding: 5px;
    appearance: none;
    outline: none;
}
.row button{
    width: 20vw;
    padding: 1px;
    /* border: 1px solid white; */
    border-radius: 25px;
    border: none;
    cursor: pointer;
    max-width: 100px;
    background: rgb(223, 9, 37);
    transition: .5s;
    
}
.row button:hover{
    background: rgb(2, 0, 0);
}
