.products-detail{
    width: 300px;
    height: auto;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0 10px 0;
    border: 2px solid white;
    margin: 20px;
    border-radius: 5px;

}
img{
    width: 250px;
    margin: 6px ;
    border-radius: 5px;
    object-fit: cover;
}
.details{
    text-align: center;
}
.details button{
    padding: 8px 16px;
    border-radius: 5px;
    border: none;
    margin: 5px;
    color: white;
    background-color: chocolate;
}
.removecartbtn{
    background-color: tomato !important;
}