
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: 'Roboto';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
  width: 100vw;
  height: 100vh;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}
.score-section{
  background-color: #fff;
  width: 500px;
  text-align: center;
  padding: 30px;
  border-radius: 15px;
  /* display: none; */
}
.score-section h2{
  font-weight: 500;
}
.score-section button{
  background-color: tomato;
}
.question-section{
  background-color: #fff;
  width: 700px;
  height: auto;
  text-align: center;
  /* display: none; */
  padding: 10px;
  border-radius: 15px;
}
.question-section h2{
  margin: 10px;
  font-weight: 500;
  color: #3498db;
}
.question-section p{
  font-weight: 500;
}

button{
  margin: 20px;
 padding: 10px;
 font-size: 15px;
 border-radius: 15px;
 border: none;
 background-color: #3498db;
 cursor: pointer;
 color: #fff;
 transition: background-color 0.2s ;
}
button:hover{
  filter: brightness(1.2);
}
.timer{
  margin: 10px;
}
.timer span{
  font-weight: bold;
}