*{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}
body{
  background: #fafafa;
}
.faq-accordian{
  max-width: 800px;
  margin: 0 auto;
}
.faq-item{
  border: 1px solid #e0e0e0;
  margin: 10px;
  border-radius: 5px;
  
  overflow: hidden;
}
.faq-item-header{
  background-color: #f7f7f7;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  color: #333;
  transition:background-color 0.3s ease;
}
.faq-item-header:hover{
  background-color: #e0e0e0;
}
.faq-item-body{
  background-color:  #c4c1e0;
  /* display: none; */
  max-height: 0px;
  transition:max-height  0.5s ease;
}
.faq-item-body-content{
  transition: max-height  0.5s ease;
}
.faq-item-body .faq-item-body-content{
  padding: 15px;
 font-size: 18px; 
 color: #555;
}
.faq-item.active .faq-item-body{
  min-height: 100px;
}